

.navbar-toggler-on{
  /* border-color: rgba(0, 0,0, 0.2); */
  background-color: rgba(0, 0,0, 0.2);
}

.navbar-toggler-off{
  border-color: transparent !important;

}

.account-btns button{
  width: 80px;
  font-weight: 500;
  font-size: 14px;
}

.hero {
  width: 100%;
  background-color: rgb(var(--primary-rgb-light));
  clip-path: ellipse(100% 100% at 50% 0%);
  overflow-x: hidden;
}

.hero-img{
  transform: translateX(500px);
}

.hero-img-animation{
  animation: hero-animation 1.5s ease-in-out forwards;
}

@keyframes hero-animation {
  0% {
    transform: translate(500px, 0);
  }
  70% {
    transform: translate(-15px, 0);
  }
  100% {
    transform: translate(0, 0);
  }

}

.companies{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 15px;
}
.companies img{
  width: 70px;
}

:root{
  --bs-link-hover-color-rgb : 255, 255, 255;
}